* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  

body{
  font-family: "PT Sans";
  text-align: center;
}  

.d-flex{
  display: flex;
}  

.container{
  width: 80%;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: white;
}  

li{
  list-style-type: none;
}  

/* HEADER */
header{
background-color: #0084fd;  
height: 80px;
}

nav{
  justify-content: space-between;
  align-items: center;
  height: 100%;
}  

.menu{
  color: white;
}

.menu .menu-hamburger{
  font-size: 1.5rem;
}

.menu .menu-list{
  display: none;
}

.menu .menu-list ul{
  align-items: center;
}

.menu .menu-list ul a{
  font-size: 1.2rem;
  margin: 0 15px;
  text-transform: capitalize;
}

.menu .menu-list ul a:last-child{
  color: black;
  background-color: white;
  padding: 10px 15px;
  border-radius: 25px;
}

/* MAIN */

.box-container{
  margin: 60px auto;
}

.box-container .row .col{
  flex-wrap: wrap;
}

.box{
  flex-direction: column;
  align-items: center;
  background-color: #b5ddff;
  width: 100%;
  border-radius: 30px;
  padding: 40px;
  margin-top: 30px;
}

.box:first-child{
  padding: 40px 50px 0 50px;
  margin-top: 0;
}


.box h3{
  color: #0b8afd;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.box p{
  color: #5a6e7f;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.btn{
  margin-bottom: 30px;
}

.btn a{
  background-color: #0084fd;
  padding: 10px 90px;
  border-radius: 30px;
  font-weight: bold;
}

.btn i{
  margin-right: 10px;
  
}

.box img{
  width: 380px;
}

.box .i-format{
  color: #0084fd;
  font-size: 8rem;
  margin-bottom: 30px;
}

/* SECTION VIOLET */

.violet{
  background-color: #9792e4;
}

.planning{
  flex-direction: column;
  align-items: center;
  padding: 70px 0;
}

.planning img{
  width: 100%;
}

.planning span{
  color: white;
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: bold;
  margin: 40px 0;
}

.planning > p{
  color: white;
  line-height: 30px;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 40px;
}

.card-planning{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  padding: 30px;
}

.card-planning span{
  color: black;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: bold;
  margin: 20px 0;
}

.card-planning p{
  line-height: 30px;
  font-size: 1.2rem;
  text-align: center;
  font-style: italic;
}

.card-planning a{
  margin: 30px 0;
}

.card-planning .download{
  width: 50px;
  height: 50px;
  background-color: #9792e4;
  text-align: center;
  border-radius: 50%;

}

.card-planning a i{
  font-size: 0.9rem;
  line-height: 50px;
}

/* SECTION TESTIMONIALS */

.testimonials{
  flex-direction: column;
  align-items: center;
}

.testimonials{
  padding: 70px 0;
}
.testimonials h4{
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.testimonials span{
  color: #9792e4;
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 50px;
}

.testimonials p{
  font-size: 1.5rem;
  margin-bottom: 50px;
  line-height: 40px;
}
.card-testimonials{
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px;
  margin: 15px auto;
  background-color: #9792e4;
  border-radius: 40px;
}

.card-testimonials .avatar{
  width: 80%;
  aspect-ratio: 1/1;
  margin-bottom: 30px;
}

.avatar img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.card-testimonials p{
  color: white;
  line-height: 30px;
}

.card-testimonials p i{
  font-size: 2rem;
  margin: 0 5px;
}

.card-testimonials .name-testimonials{
  margin: 20px 0 auto;
}

.card-testimonials .name-testimonials span{
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

/* SECTION BENEFITS */

.benefits{
  padding: 30px 0;
}

.benefits h3{
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 20px 10px;
}

.benefits-card{
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  border-radius: 20px;
  padding: 40px;
  margin: 40px auto;
}

.benefits-card .text{
  flex-direction: column;
  align-items: flex-start;
}

.benefits-card span:nth-child(1){
  color: #9792e4;
  font-size: 3rem;
  margin-bottom: 25px;
  font-weight: bold;
}

.text span:nth-child(2){
  color: #9792e4;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 25px;
  font-weight: bold;
}

.text p{
  text-align: left;
  line-height: 30px;
  margin-bottom: 40px;
}

.benefits-btn{
  width: 50px;
  height: 30px;
}

.benefits-btn a{
  background-color: #9792e4;
  color: white;
  font-weight: bold;
  padding: 10px 50px;
  border-radius: 30px;
}

/* SECTION ABOUT US */
.about{
  flex-direction: column;
  text-align: left;
  padding: 50px 0;
}

.about h2{
  color: #9792e4;
  font-size: 2.5rem;
  text-transform: capitalize;
  margin-bottom: 50px;
}

.about p{
  line-height: 40px;
  margin-bottom: 40px;
}

.about-img{
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.about-img img{
  width: 70%;
  border-radius: 50%;
  margin-bottom: 30px;
}

.about-img .image i{
  position: absolute;
  top: -10px;
  left: 190px;
  font-size: 5rem;
  color: #9792e4;
}

.about-img span{
  color: #9792e4;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.about-link a{
  background-color: #9792e4;
  border-radius: 20px;
  padding: 10px;
}

.about-link a i{
  margin-right: 10px;
}