* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "PT Sans"
}

.debug{
  background-color: rgba(205, 176, 202, 0.2);
  border: 1px solid black;
  min-height: 50px;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
}

.row{
  display: flex;
}

.col{
  width: 100%;
}

/* HEADER */
header .row{
  justify-content: space-between;
  background-color: #0084fd;
}

header .row .menu{
  display: none;
}

header .row .col:first-child img{
  padding: 10px;
}

header .row .col:last-child ul{
  padding: 20px 10px 0 10px;
}

.menu ul{
  display: flex;
  justify-content: flex-end;
}

.menu ul li{
  list-style-type: none;
  margin: 0 15px;
}

.menu a{
  text-decoration: none;
}

.row .hamburger{
  text-align: end;
  color: white;
  padding: 20px 10px 0 0;
}

.menu span{
  background-color: white;
  border-radius: 20px;
  padding: 10px 15px;
}

/* MAIN */
.intro .row{
  flex-wrap: wrap;
}

.intro .col:first-child .row,
.planning .row,
.testimonials .row,
.benefits .row,
.about .row
{
  flex-direction: column;
}

.benefits .row{
  flex-wrap: wrap;
}


/* RESPONSIVE AREA */


@media screen and (min-width:768px) {

  header .row .menu{
      display: block;
  }

  header .row .hamburger{
      display: none;
  }

  .intro .col{
      width: calc(100% / 3);
  }
  
  .intro .col:first-child{
    width: calc((100%/3)*2);
  }

  .planning .row,
  .benefits .row,
  .about .row,
  .testimonials .row{
      flex-direction: row;
  }

  .testimonials .row .col:first-child{
      width: 220px;
  }

  .benefits .col{
      width: 50%;
  }

  .about .col:last-child{
      width: 250px;
  }

}

@media screen and (min-width:992px){
  .intro .col:first-child .row{
      flex-direction: row;
  }
  .benefits .col{
      width: calc(100% / 3);
  }
}